---
layout: BlogList
---
<!-- ---Layout: Default--- I made a mistake with the layout, but I honestly like this better... but I probably should add a directory at the bottom.-->

<p> Here is the main page of my blog. From here you can find whatever else it is that you need to find. Have fun! -Taiyo</p>
<p> There will be many [#-REDACTED] in the blogs, in order to maintain peoples privacy. Sorry for any inconvience.</p>

<li><a href="{{site.baseurl}}/BlogPartOne.html" class="{% if page.url == '/BlogPartOne.html' %}current{% endif %}">Blog: May 4th-18th</a></li>

<li><a href="{{site.baseurl}}/BlogPartTwo.html" class="{% if page.url == '/BlogPartTwo.html' %}current{% endif %}">Blog: May 19th-Current</a></li>
