<nav>
      <ul class="navBlog {{include.navClass}}">
        <li><a href="{{site.baseurl}}/" class="{% if page.url == '/index/' %}current{% endif %}">Home</a></li>
	<li><a href="{{site.baseurl}}/GameReviews/" class="{% if page.url == '/GameReviews/' %}current{% endif %}">Game Reviews</a></li>
	<li><a href="{{site.baseurl}}/News/" class="{% if page.url == '/News/' %}current{% endif %}">News</a></li>
        <li><a href="{{site.baseurl}}/random/" class="{% if page.url == '/random/' %}current{% endif %}">Thoughts</a></li>
      </ul>
</nav>