<nav>
      <ul class="navHome {{include.navClass}}">
	<li><a href="{{site.baseurl}}/GameReviews/" class="{% if page.url == '/GameReviews/' %}current{% endif %}">Game Reviews</a></li>
	<li><a href="{{site.baseurl}}/News/" class="{% if page.url == '/News/' %}current{% endif %}">News</a></li>
        <li><a href="{{site.baseurl}}/random/" class="{% if page.url == '/random/' %}current{% endif %}">Thoughts</a></li>
	<li><a href="{{site.baseurl}}/Blog/" class="{% if page.url == '/Blog/' %}current{% endif %}">Blog</a></li>
      </ul>
</nav>