<nav>
      <ul class="navNews {{include.navClass}}">
        <li><a href="{{site.baseurl}}/" class="{% if page.url == '/index' %}current{% endif %}">Home</a></li>
	<li><a href="{{site.baseurl}}/GameReviews/" class="{% if page.url == '/GameReviews/' %}current{% endif %}">Game Reviews</a></li>
        <li><a href="{{site.baseurl}}/random/" class="{% if page.url == '/random/' %}current{% endif %}">Thoughts</a></li>
	<li><a href="{{site.baseurl}}/Blog/" class="{% if page.url == '/Blog/' %}current{% endif %}">Blog</a></li>
      </ul>
</nav>